MangaLibrary/MangaLibrary.UI/bin/
MangaLibrary/MangaLibrary.UI/obj/
MangaLibrary/MangaLibrary.DataAccess/bin/
MangaLibrary/MangaLibrary.DataAccess/obj/
MangaLibrary/MangaLibrary.ApplicationServices/bin/
MangaLibrary/MangaLibrary.ApplicationServices/obj/
MangaLibrary/.vs/