<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<!-- the targets to write to -->
	<targets>
		<target xsi:type="File" name="allfile" fileName="d:\MangaLibraryLogs\nlog-all-${shortdate}.log"
				 layout="${longdate}|${level}|${logger}|${message}" />

		<target xsi:type="File" name="exceptions" fileName="d:\MangaLibraryLogs\nlog-exceptions-${shortdate}.log"
				layout="${longdate}|${level}|${logger}|${message} ${exception}"/>

		<target xsi:type="File" name="requestTimes" fileName="d:\MangaLibraryLogs\request-time-${shortdate}.log"
				layout="${longdate}|${level}|${message}"/>
	</targets>
	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="MangaLibrary.UI.Controllers.*" minlevel="Debug" writeTo="allfile" />
		
		<logger name="MangaLibrary.UI.Middleware.ErrorHandlingMiddleware" minlevel="Error" writeTo="exceptions" />
		
		<logger name="MangaLibrary.UI.Middleware.RequestTimeMiddleware" minlevel="Information" writeTo="requestTimes" />
	</rules>
</nlog>